body {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    background-image: url('https://images.pexels.com/photos/2663247/pexels-photo-2663247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: scale(0.69);
    -moz-transform: scale(0.69);
    transform: scale(0.69); 
    height: 100%;
}

.wrapper {
    color: white;
    border-radius: 10%;
    background-color: rgba(0, 123, 255, .4);
}

.wrapper:hover {
    box-shadow: 10px 10px 5px rgb(136,136,136, .2); 
}

div h2 {
    background-color: rgba(52, 58, 64, .7);
    padding: 30px;
}

div form a {
    float: right;
    font-size: .9rem;
    font-weight: bold
}

i {
    color: rgb(29, 22, 22, .8);
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: red;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.alert {
    width: 26rem;
}

.emptyField {
    border: solid red 3px;
}

.pass-error-style {
    color: red;
    font-weight: bold;
    margin-left: 40px
}
