body {
    display: flex; /* establish flex container */
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center; /* center flex items vertically, in this case */

    background-image: url('https://images.pexels.com/photos/2663247/pexels-photo-2663247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    background-color: rgba(52, 58, 64, .7);
    padding: 40px;
    border-radius: 50%;
}