body {
    background-image: url('https://images.pexels.com/photos/2663247/pexels-photo-2663247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    height: 50px;
    width: 150px;
    font-size: 1.2rem !important;
    /* font-weight:  !important; */
}


.jumbotron-transparent {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
}